html, body {
    margin: 0;
    height: 100%;
}

html{
    overflow-y: scroll;
    overflow-x: hidden;
    color: black;
}

body {
    background-color: #dddddd; /* Black */
}

.center {
    margin: auto;
    width: 60%;
    /*border: 1px solid #ffde00;*/
    padding: 10px;
    text-align: center;
}

img {
    padding: 5%;
    max-width: 20%;
}