#map {
    height: 620px;
    border: 3px solid black;
}

.outputList {
    color: floralwhite;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    color: floralwhite;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav img {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 100%;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropDown {
    background-color: #FFCB05;
    width: 288px;
    height: 40px;
    padding: 0px;
    margin: 0px 4px 0px 4px;
    border: 2px solid #46709B;
    font-size: large;
    color: #46709B;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

/* Used to hide dropdownmenus initially */
.dropDownContent {
    display: none;
    width: 288px;
    height: 80px;
    padding: 0px;
    margin: 0px 4px 0px 4px;
    border: 2px solid #46709B;
    font-size: 14px;
    color: #46709B;
    text-align: center;
    vertical-align: middle;
    background-color: #C7A008;
}

.dropDownLayers {
    width: 70%;
    text-align: center;
    border: 0;
    margin-left: 16px;
}

.sidenavText{
    width: 70%;
}

/* Style page content */
.main {
    margin-left: 300px; /* Same as the width of the sidebar */
    padding: 0;
}

body {
    margin: 0;
}

/* Style for labels */
.leaflet-popup-close-button {
    display:none;
}

.leaflet-label-overlay {
    line-height:0px;
    margin-top: 9px;
    position:absolute;
}

.active {
    background-color: #46709B;
    color: #FFCB05;
}

.legend {
    line-height: 18px;
    color: #555;
    vertical-align: middle;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
